@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition-duration: 400ms;
}

a {
  font-weight: 500;
  color: #747bff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}

hr {
  border: none;
  border-top: 1px solid var(--color-gray-400);
  margin: 1.5rem 0;
}
